<div class="well">
  <legend>Log in</legend>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :username %>
    <%= f.input :password %>
    <div class="row">
      <div class="col col-md-12">
        <%= f.submit "Log in", class:'col-lg-offset-2 col-md-8  btn btn-primary' %>
      </div>
      <div class="col col-md-12 tm-10">
        <%= link_to "Sign up", new_registration_path(resource_name), class: 'btn btn-default text-center col-lg-offset-2 col col-md-8' %>
      </div>
    </div>
  <% end %>
</div>
